body{
	margin: 0;
}

.nav_imie{
	height: 40px;
	background-color: #1c1c1c;
}

.item_nav_imie{
	display: inline-block;
	padding-left: 20px;
	padding-top: 10px;
	color: white;
	float: right;
	font-family: 'Open Sans', sans-serif;
	font-size: 15px;
	font-weight: 600;
}

@media screen and (max-width: 640px) {
  .nav_imie {
    height: 0;
  }
}
